USE [master]
GO
/****** Object:  Database [fidxacademy]    Script Date: 8/2/2022 7:10:34 PM ******/
CREATE DATABASE [fidxacademy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'fidxacademy', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\fidxacademy.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'fidxacademy_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\fidxacademy_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [fidxacademy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [fidxacademy]
GO
/****** Object:  Table [dbo].[Batch]    Script Date: 8/2/2022 7:10:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Batch](
	[BID] [int] IDENTITY(1,1) NOT NULL,
	[BatchName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Batch] PRIMARY KEY CLUSTERED 
(
	[BID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Course]    Script Date: 8/2/2022 7:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CID] [int] IDENTITY(1,1) NOT NULL,
	[CName] [nvarchar](50) NOT NULL,
	[Duration] [int] NOT NULL,
	[CAFee] [int] NOT NULL,
	[CMFee] [int] NOT NULL,
	[CCFee] [int] NOT NULL,
	[CRFee] [int] NOT NULL,
	[CEFee] [int] NOT NULL,
	[CPFee] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Domicile]    Script Date: 8/2/2022 7:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Domicile](
	[DID] [int] IDENTITY(1,1) NOT NULL,
	[DName] [nvarchar](50) NOT NULL,
	[PArea] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Domicile] PRIMARY KEY CLUSTERED 
(
	[DID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Expense]    Script Date: 8/2/2022 7:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expense](
	[ERID] [int] IDENTITY(1,1) NOT NULL,
	[EID] [int] NOT NULL,
	[Rate] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_Expense] PRIMARY KEY CLUSTERED 
(
	[ERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ExpenseType]    Script Date: 8/2/2022 7:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseType](
	[EID] [int] IDENTITY(1,1) NOT NULL,
	[ExpenseTypeName] [nvarchar](20) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_ExpenseType] PRIMARY KEY CLUSTERED 
(
	[EID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Qualification]    Script Date: 8/2/2022 7:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qualification](
	[Qid] [int] IDENTITY(1,1) NOT NULL,
	[QualificationFiled] [nvarchar](50) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Qualification] PRIMARY KEY CLUSTERED 
(
	[Qid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student]    Script Date: 8/2/2022 7:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[SID] [int] IDENTITY(1,1) NOT NULL,
	[SName] [nvarchar](32) NOT NULL,
	[SFather] [nvarchar](32) NOT NULL,
	[Surname] [nvarchar](32) NOT NULL,
	[Cnic] [nvarchar](15) NULL,
	[Gender] [int] NOT NULL,
	[Religion] [int] NOT NULL,
	[Dob] [date] NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Contact] [nvarchar](15) NOT NULL,
	[EmrContact] [nvarchar](15) NULL,
	[DomicileID] [int] NOT NULL,
	[CAddress] [nvarchar](250) NOT NULL,
	[PAddress] [nvarchar](250) NOT NULL,
	[QualID] [int] NOT NULL,
	[QualArea] [nvarchar](50) NULL,
	[QualBoard] [nvarchar](50) NULL,
	[QualYear] [nvarchar](4) NULL,
	[QualResult] [nvarchar](5) NULL,
	[CourseID] [int] NOT NULL,
	[AdmissionDate] [date] NOT NULL,
	[Date] [date] NOT NULL,
	[Time] [nvarchar](16) NULL,
	[Status] [int] NOT NULL,
	[Pic] [image] NULL,
	[batch] [int] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StudentFee]    Script Date: 8/2/2022 7:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentFee](
	[FID] [int] IDENTITY(1,1) NOT NULL,
	[SID] [int] NOT NULL,
	[CAFee] [int] NOT NULL,
	[CMFee] [int] NOT NULL,
	[CCFee] [int] NOT NULL,
	[CRFee] [int] NOT NULL,
	[CEFee] [int] NOT NULL,
	[CPFee] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_StudentFee] PRIMARY KEY CLUSTERED 
(
	[FID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Batch] ON 

INSERT [dbo].[Batch] ([BID], [BatchName]) VALUES (1, N'Batch-I')
SET IDENTITY_INSERT [dbo].[Batch] OFF
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([CID], [CName], [Duration], [CAFee], [CMFee], [CCFee], [CRFee], [CEFee], [CPFee], [Status]) VALUES (1, N'CIT', 1, 600, 1500, 200, 1000, 200, 100, 1)
INSERT [dbo].[Course] ([CID], [CName], [Duration], [CAFee], [CMFee], [CCFee], [CRFee], [CEFee], [CPFee], [Status]) VALUES (2, N'CIT', 6, 500, 1500, 100, 1000, 200, 100, 0)
INSERT [dbo].[Course] ([CID], [CName], [Duration], [CAFee], [CMFee], [CCFee], [CRFee], [CEFee], [CPFee], [Status]) VALUES (3, N'MMG', 4, 0, 0, 0, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[Course] OFF
SET IDENTITY_INSERT [dbo].[Domicile] ON 

INSERT [dbo].[Domicile] ([DID], [DName], [PArea], [Status]) VALUES (2, N'Nawabshah', 1, 0)
INSERT [dbo].[Domicile] ([DID], [DName], [PArea], [Status]) VALUES (3, N'Lahore', 2, 0)
SET IDENTITY_INSERT [dbo].[Domicile] OFF
SET IDENTITY_INSERT [dbo].[Expense] ON 

INSERT [dbo].[Expense] ([ERID], [EID], [Rate], [Status], [Date]) VALUES (1, 1, 2000, 1, CAST(N'2022-03-09' AS Date))
SET IDENTITY_INSERT [dbo].[Expense] OFF
SET IDENTITY_INSERT [dbo].[ExpenseType] ON 

INSERT [dbo].[ExpenseType] ([EID], [ExpenseTypeName], [Status]) VALUES (1, N'Faiz Salary', 0)
INSERT [dbo].[ExpenseType] ([EID], [ExpenseTypeName], [Status]) VALUES (2, N'Rent', 1)
SET IDENTITY_INSERT [dbo].[ExpenseType] OFF
SET IDENTITY_INSERT [dbo].[Qualification] ON 

INSERT [dbo].[Qualification] ([Qid], [QualificationFiled], [Status]) VALUES (1, N'Middle', 0)
INSERT [dbo].[Qualification] ([Qid], [QualificationFiled], [Status]) VALUES (2, N'Matric', 0)
INSERT [dbo].[Qualification] ([Qid], [QualificationFiled], [Status]) VALUES (3, N'Intermediate', 0)
SET IDENTITY_INSERT [dbo].[Qualification] OFF
SET IDENTITY_INSERT [dbo].[Student] ON 

SET IDENTITY_INSERT [dbo].[Student] OFF
SET IDENTITY_INSERT [dbo].[StudentFee] ON 

INSERT [dbo].[StudentFee] ([FID], [SID], [CAFee], [CMFee], [CCFee], [CRFee], [CEFee], [CPFee], [Month], [Status]) VALUES (3, 0, 0, 0, 0, 0, 0, 0, 72022, 0)
INSERT [dbo].[StudentFee] ([FID], [SID], [CAFee], [CMFee], [CCFee], [CRFee], [CEFee], [CPFee], [Month], [Status]) VALUES (4, 0, 0, 0, 0, 0, 0, 0, 72022, 0)
SET IDENTITY_INSERT [dbo].[StudentFee] OFF
/****** Object:  StoredProcedure [dbo].[DeleteCourse]    Script Date: 8/2/2022 7:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteCourse]
@DID int
as
	update Course set 
	Status = 1
	where CID = @DID
GO
/****** Object:  StoredProcedure [dbo].[DeleteDomicile]    Script Date: 8/2/2022 7:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteDomicile]
@did int
as
	update Domicile set status = 1 where did = @did
GO
/****** Object:  StoredProcedure [dbo].[DeleteExpense]    Script Date: 8/2/2022 7:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteExpense]
@ERID int
as
	update Expense set status =1 where ERID = @ERID
GO
/****** Object:  StoredProcedure [dbo].[DeleteExpenseType]    Script Date: 8/2/2022 7:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteExpenseType]
@EID int
as
	Update ExpenseType set Status = 1 where EID = @EID
GO
/****** Object:  StoredProcedure [dbo].[GetCourse]    Script Date: 8/2/2022 7:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetCourse]
as
	select CID,CName,
	case 
		when Duration = 1 then '1Month'
		when Duration = 2 then '2Month'
		when Duration = 3 then '3Month'
		when Duration = 4 then '4Month'
		when Duration = 5 then '5Month'
		when Duration = 6 then '6Month'
		when Duration = 7 then '1Year'
		when Duration = 8 then '2Year'
		when Duration = 9 then '3Year'
	end as Duration,
	CAFee,CMFee,CEFee,CCFee,CRFee,CPFee from Course 
	where Status = 0
GO
/****** Object:  StoredProcedure [dbo].[GetDomicile]    Script Date: 8/2/2022 7:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetDomicile]
as
	select DID,
	case when PArea = 1 then 'Sindh'
		 when PArea = 2 then 'Punjab'
		 when PArea = 3 then 'Balochistan' 
		 when PArea = 4 then 'KPK'
		 when PArea = 5 then 'GBT' end as PArea ,DName from Domicile where status = 0
GO
/****** Object:  StoredProcedure [dbo].[GetDomicile_2]    Script Date: 8/2/2022 7:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[GetDomicile_2]
@id int
as
	select DID,
	case when PArea = 1 then 'Sindh'
		 when PArea = 2 then 'Punjab'
		 when PArea = 3 then 'Balochistan' 
		 when PArea = 4 then 'KPK'
		 when PArea = 5 then 'GBT' end as PArea ,DName from Domicile where PArea = @id and status = 0
GO
/****** Object:  StoredProcedure [dbo].[GetExpense]    Script Date: 8/2/2022 7:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetExpense]
as
	select e.ERID,et.ExpenseTypeName,e.Rate,e.Date from Expense as e
	inner join ExpenseType as et on et.EID = e.EID
	where e.status = 0
GO
/****** Object:  StoredProcedure [dbo].[GetExpenseType]    Script Date: 8/2/2022 7:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetExpenseType]
as
	select EID,ExpenseTypeName from ExpenseType where status = 0
GO
/****** Object:  StoredProcedure [dbo].[GetViewStudent]    Script Date: 8/2/2022 7:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetViewStudent]
@BID int,
@Cid int
as
	select SID,SName, SFather, case when Gender = 0 then 'Male' when Gender = 1 then 'Fe-Male' else 'Other' end as Gender, course.CName,Date,Course.Duration from student 
	inner join Course on Course.CID = Student.CourseID
	where Student.CourseID = @Cid and student.batch = @BID and student.Status = 0

GO
/****** Object:  StoredProcedure [dbo].[InsertCourse]    Script Date: 8/2/2022 7:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertCourse]
@D int,
@CN nvarchar(50),
@A int,
@M int,
@E int,
@C int,
@R int,
@P int
as
	insert into Course 
	(Duration,CName,CAFee,CMFee,CEFee,CCFee,CRFee,CPFee,Status)
	values
	(@D,@CN,@A,@M,@E,@C,@R,@P,0)
GO
/****** Object:  StoredProcedure [dbo].[InsertDomicile]    Script Date: 8/2/2022 7:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertDomicile]
@p int,
@d nvarchar(50)
as
	insert into Domicile (DName,PArea,Status) values (@d,@p,0)
GO
/****** Object:  StoredProcedure [dbo].[InsertExpense]    Script Date: 8/2/2022 7:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertExpense]
@EID int,
@Rate int,
@D nvarchar(16)
as
	insert into Expense 
	(EID,Rate,Status,Date)
	values
	(@EID,@Rate,0,@D)
GO
/****** Object:  StoredProcedure [dbo].[InsertExpenseType]    Script Date: 8/2/2022 7:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertExpenseType]
@ET nvarchar(20)
as
	insert into ExpenseType
	(ExpenseTypeName,Status)
	values
	(@ET,0)
GO
/****** Object:  StoredProcedure [dbo].[InsertFee]    Script Date: 8/2/2022 7:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsertFee]
@D int,
@A int,
@M int,
@E int,
@C int,
@R int,
@P int,
@Date int
as
	insert into StudentFee (SID, CAFee,CMFee,CEFee,CCFee,CRFee,CPFee,Month,Status) values (@D,@A,@M,@E,@C,@R,@P,@Date,0)
GO
/****** Object:  StoredProcedure [dbo].[InsertStudent]    Script Date: 8/2/2022 7:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertStudent]
@n nvarchar(40),
@fn nvarchar(40),
@cn nvarchar(40),
@c nvarchar(40),
@e nvarchar(40),
@c1 nvarchar(40),
@c2 nvarchar(40),
@ca nvarchar(40),
@pa nvarchar(40),
@q nvarchar(40),
@b nvarchar(40),
@re nvarchar(5),
@g int,
@r int,
@d int,
@qf int,
@y nvarchar(4),
@dob date,
@co int,
@ad date,
@cd date,
@t nvarchar(17),
@Image image,
@Bid int
as
	insert into Student 
	(
		SName,
		SFather,
		Cnic,
		Surname,
		Email,
		Contact,
		EmrContact,
		CAddress,
		PAddress,
		QualArea,
		QualBoard,
		QualResult,
		Gender,
		Religion,
		DomicileID,
		QualID,
		QualYear,
		CourseID,
		Status,
		Dob,
		AdmissionDate,
		Date,
		Time,
		Pic,
		batch
	)
	values
	(
		@n,
		@fn,
		@cn,
		@c,
		@e,
		@c1,
		@c2,
		@ca,
		@pa,
		@q,
		@b,
		@re,
		@g,
		@r,
		@d,
		@qf,
		@y,
		@co,
		0,
		@dob,
		@ad,
		@cd,
		@t,
		@Image,
		@Bid
	)
GO
/****** Object:  StoredProcedure [dbo].[UpdateCourse]    Script Date: 8/2/2022 7:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateCourse]
@DID int,
@CN nvarchar(50),
@A int,
@M int,
@E int,
@C int,
@R int,
@P int
as
	update Course set 
	CName = @CN,
	CAFee = @A,
	CMFee = @M,
	CEFee = @E,
	CCFee = @C,
	CRFee = @R,
	CPFee = @P
	where CID = @DID
GO
/****** Object:  StoredProcedure [dbo].[UpdateDomicile]    Script Date: 8/2/2022 7:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateDomicile]
@did int,
@d nvarchar(50)
as
	update Domicile set DName = @d where DID = @did

GO
/****** Object:  StoredProcedure [dbo].[UpdateExpense]    Script Date: 8/2/2022 7:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateExpense]
@ERID int,
@Rate int
as
	update Expense set Rate = @Rate where ERID = @ERID
GO
/****** Object:  StoredProcedure [dbo].[UpdateExpenseType]    Script Date: 8/2/2022 7:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateExpenseType]
@EID int,
@ET nvarchar(20)
as
	Update ExpenseType set ExpenseTypeName = @ET where EID = @EID
GO
USE [master]
GO
